---
import LogoWall from "../components/logoWall.astro";
import SkillsList from "../React/SkillsList.tsx";
import Awards from "../React/Awards.tsx";
---

<section class="text-[var(--white)] 12 md:mt-0" id="home">
  <div class="max-w-7xl mx-auto space-y- md:py-36 pb-14">
    
    

    <div class="flex flex-col lg:flex-row items-center gap-8">

      <div
        class="flex flex-col lg:flex-row lg:items-center space-y-4 lg:space-y-0 lg:space-x-8 md:gap-4"
      >
        <div>
        <h2 class="text-[var(--white)] text-3xl md:text-4xl font-semibold md:mb-6 text-center"> About Me</h2>
        <p  class=" text-[var(--white-icon)]" style="text-indent: 50px;">I am a web designer and aspiring developer based in Edmonton, Alberta. Born in Thailand and raised in Canada, I’ve been fascinated by technology ever since I arrived here. Exploring new tools, learning how things work, and creating digital experiences has always been a passion of mine. It’s what led me to study Digital Media and IT (DMIT) at NAIT, where I’m currently in my final semester preparing to step into the world as a junior web developer.</p>
        <br>
        <p  class=" text-[var(--white-icon)]">I love coming up with fresh ideas to make each client’s website stand out, whether through sleek interfaces, interactive features, or creative visuals that truly reflect their brand.</p>
        <br>
        <p  class=" text-[var(--white-icon)]">When I’m not designing or coding, you’ll probably find me hiking, playing sports, especially volleyball, or staying active outdoors. I enjoy being on the move and finding inspiration from new experiences, which often sparks fresh ideas for my projects. I’m passionate about crafting digital experiences that are not only functional but memorable, helping clients connect with their audience in meaningful ways. If you’re looking for someone to bring your website vision to life with creativity and precision, let’s connect. I’d love to collaborate!</p>
         <Awards client:load />
        </div>
        <img src="../../profile-pic.jpg" alt="" class="w-[400px] h-auto flex items-center justify-cennter rounded-3xl"/>

      </div>
    </div>
    <SkillsList client:load />
    <LogoWall />

  </div>
</section>

<style is:global>
  .shiny-sec {
    background: linear-gradient(135deg, #a476ff 25%, #eee5ff 50%, #a476ff 75%);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine 3s linear infinite;
  }

  @keyframes shine {
    0% {
      background-position: 100% 50%;
    }
    30%,
    70% {
      background-position: 0% 50%;
    }
  }
</style>
